@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="main">
    <div class="top-row px-4">
        <div class="header-info">
            <div class="header-info_title">Scorecard</div>
            <div class="header-info_subtitle">Azure Static Web App by Hans Voll</div>
        </div>
    </div>
    <div class="px-2">
        @Body
    </div>
</div>
